<footer>
    <div class="footer">
        <div class="">
            <h2>Bizga obuna bo'ling</h2>
        </div>
        <div class="">
            <p>Sizga qiziqarli bo'lgan mebellarni taqdim etamiz!</p>
        </div>
        <div class="footer-icon">
            <div class="">
                <a href="https://www.instagram.com/ziyo_nur_qorasuv?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">
                    <i class="bi bi-instagram instagram"></i></a>
            </div>
            <div class="">
                <a href="tel:+998903194081"> <i class="bi bi-telephone-outbound-fill telephone"></i> </a>


            </div>

            <div class="">
                <a href="https://t.me/ziyonur_mebel_qorasuv"> <i class="bi  bi-telegram telegram"></i> </a>

            </div>
        </div>


    </div>
</footer>