<footer>
    <div class="footer">
        <div class="">
            <h2>Subscribe to us</h2>
        </div>
        <div class="">
            <p>We publish interesting material!</p>
        </div>
        <div class="footer-icon">
            <div class="">
                <a href=""> <i class="bi bi-instagram instagram"></i></a>
            </div>
            <div class="">
                <a href=""> <i class="bi bi-facebook facebook"></i> </a>

            </div>

            <div class="">
                <a href=""> <i class="bi  bi-telegram telegram"></i> </a>

            </div>
        </div>


    </div>
</footer>