{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'main/css/cart.css' %}">
{% endblock %}

{% block content %}
    <div class="container">


        <form action="{% url 'cart' %}" method="post"> {% csrf_token %}
{#            {% crispy forms %}#}
            {{ forms|crispy }}

            <button type="submit">
                chekout
            </button>

        </form>

    </div>


{% endblock %}