{% extends 'layouts/base.html' %}
{% load static %}
{% load humanize %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'main/css/category.css' %}">
{% endblock %}

{% block content %}
    <div class="container" style="margin: 80px auto;">
        <div class="block">
            {% if products %}
                {% for product in products %}

                    <div class="cart-container">
                        <div class="my-cart" id="{{ product.id }}">
                            <div class="img">
                                <a href="{% url 'view_product' product.id %}" class="w-100">
                                    <img src="{{ product.img.first.img.url }}" alt="" class="w-100">
                                </a>

                                <a href="{% url 'toplam_view_pr' product.id %}" class="w-100">
                                    <img src="{{ product.product.first.img.first.img.url }}" alt="" class="w-100">
                                </a>

                            </div>

                            <div class="pr-title ps-3 mt-3">
                                {{ product.name|title }}
                            </div>
                            <hr>

                            <div class="price ps-3">
                                {% if product.sale_price == 0 and null %}
                                    <p>{{ product.real_price|floatformat:0|intcomma }}</p>


                                {% else %}
                                    <p class="mt-2 text-start"> {{ product.real_price|floatformat:0|intcomma }} USD</p>

                                {% endif %}

                            </div>

                            <div class="form ">


                                <form class="w-100  d-flex justify-content-center align-items-center"
                                        {% if product.img.all == None %}

                                      action="{% url 'add_to_cart_toplam' product.id %}" method="post">
                                        {% else %}
                                            action="{% url 'add' product.id %}" method="post">

                                        {% endif %}
                                {% csrf_token %}

                                <input type="text" hidden="hidden" value="{{ request.path }}#{{ product.id }}"
                                       name='next'>
                                <button class="add_tocart ms-auto me-auto" type="submit">
                                    Savatga
                                </button>
                                </form>

                                {% if product.img.all == None %}
                                    <a href="{% url 'toplam_view_pr' product.id %}" class="product-view"> v Mahsulotni
                                        ko'rish</a>
                                {% else %}
                                    <a href="{% url 'view_product' product.id %}" class="product-view"> Mahsulotni
                                        ko'rish</a>

                                {% endif %}

                            </div>
                        </div>
                    </div>

                {% endfor %}

            {% else %}
                <div class="page-wrap d-flex flex-row align-items-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-12 text-center">
                                <span class="display-1 d-block">SIZ IZLAGAN MAHSULOT MAVJUD EMAS !</span>
                            </div>
                        </div>
                    </div>
                </div>

            {% endif %}


        </div>


    </div>


{% endblock %}



